*{
    margin:0;
    padding:0;
    
    box-sizing: border-box;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: purple;
}

.no_border {
    border:none;
}
.flex {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}
.width100 {
    width: 100%;
}

.unchecked {
    color: grey;
}


.read_only {
    color: grey;
}

label.red,
div.red,
p.red
{
    color: red;
}

select.red,
input.red,
textarea.red
{
    border: 1px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}